extends layout

block title
    title Sofajs 

block content
    h1  Sofajs 

    h2 Menu
        h3 Requests 
        each value, index in docs.requests
            a(class="menuLink" href="\##{index}") #{index}  <br/> 
            each value2, index2 in docs.requests[index].methods
                a(class="functionMenuLink" href="\##{index2}") #{index2} #{docs.requests[index].methods[index2].signature}

    h2 Promises 

    each value, index in docs.promises
        a(id="#{index}" href="") #{index} <br/>
        each value2, index2 in docs.promises[index].methods
            a(class="functionMenuLink" id="#{index2}" href="") #{index2} #{docs.promises[index].methods[index2].signature} <br/>

    h2 Requests

    each value, index in docs.requests
        a(id="#{index}" href="") #{index} <br/>

        each value2, index2 in docs.requests[index].methods
            a(class="functionName" id="#{index2}" href="") #{index2} #{docs.requests[index].methods[index2].signature}
            div !{docs.requests[index].methods[index2].comment}



    h2 Tools

    each value, index in docs.tools
        h1 #{index}
        p #{docs.tools[index].description} 

        ul
        each value2, index2 in docs.tools[index].methods
            div(class="functionName") #{index2} #{docs.tools[index].methods[index2].signature} 
            div #{docs.tools[index].methods[index2].comment}

    h2 Promises 

    each value, index in docs.promises
        h1 #{index}

        ul
        each value2, index2 in docs.promises[index].methods
            li #{index2} #{docs.promises[index].methods[index2].signature} 
                <br/> #{docs.promises[index].methods[index2].comment}
